@import url('https://fonts.googleapis.com/css2?family=Kotta+One&family=Montserrat:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  font-family: "Montserrat", serif;
  height: 100%;
  background-color: #000000;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Montserrat", serif;
  color: #94a3b8; /*cambiar este color*/
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #523afc 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, rgba(188, 165, 255, 0) 0%, #f7066a 100%);
  filter: blur(150px);
}

.orange__gradient {
  background: linear-gradient(90deg, rgba(188, 165, 255, 0) 0%, #fd5701 100%);
  filter: blur(150px);
}

.red__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #ad131a 100%);
  filter: blur(150px);
}